In [ ]:
num =int(input("Enter any number"))
if num%2==0:
    print("num is even")
else:
    print("the num is odd")

Enter any number10
num is even

In [ ]:
def even_or_odd(num):
  """This function finds even or odd"""
  if num%2==2:
    print("The number is even")
  else:
    print("The number is odd")

In [ ]:
## Call this function
even_or_odd(10)

The number is odd

In [ ]:
# Function with multiple parameters
def add(a,b):
 return a+b

result = add(2,4)
print(result)

6

In [ ]:
# Default parameters
def greet(name):
  print(f"Hello {name}, welcome to the paradise!")

greet("Appu")

Hello Appu, welcome to the paradise!

In [ ]:
def greet(name):
  print(f"Hello {name}, welcome to the paradise!")

greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [ ]:
#To avoid this error, give a default value
def greet(name="Guest"):
  print(f"Hello {name}, welcome to the paradise")

greet()

Hello Guest, welcome to the paradise

In [ ]:
#Variable length arguments
#Positional and keyword arguements

#Positional arguments
def print_numbers(*args):
  for number in args:
    print(number)

print_numbers(1,3,4,6,8,5,76,'Apu')

1
3
4
6
8
5
76
Apu

In [ ]:
#Keywords arguments
# Here all the parameters will be in the form of key-value pairs

def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}, {value}")

print_details(name="Apurva",age= 100, address= "India")

name, Apurva
age, 100
address, India

In [1]:
def print_all(*args, **kwargs):
  for val in args:
    print(f"positional argument : {val}")

  for key, value in kwargs.items():
    print(f"key-value pair: {key}, {value}")

print_all(1,2,3,4,5,6,name="Apurva",age= 100, address= "India")

positional argument : 1
positional argument : 2
positional argument : 3
positional argument : 4
positional argument : 5
positional argument : 6
key-value pair: name, Apurva
key-value pair: age, 100
key-value pair: address, India

In [ ]:
#RETURN STATEMENTS
def multiply(a,b):
    return a*b
print(multiply(2,3))

6

In [4]:
def multiply(a,b):
    return a,b,a*b
multiply(2,4)

(2, 4, 8)