#### Maps

In [ ]:
def square(x):
    return x**2
    # OR x*x

square(10)

100

In [ ]:
numbers = [1,2,3,4,5,6,7,8]
# map(function_name, iterable or collection)
map(square, numbers)
list(map(square, numbers))

NameError: name 'square' is not defined

In [7]:
# Lambda function with map
numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x: x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
# Lambda function with map
numbers = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda a: a*a, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# Map multiple iterables
numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [18]:
# Map() to convert a list of string to integers
str_numbers = ['1', '2', '3', '4', '5']
# Use map to convert string to integer
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [20]:
words = ["apple", "banana", "cheery"]
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHEERY']

In [22]:
def get_name(person): # person is a dictionary
    return person["name"]

people = [
    {'name': 'Krish', 'age': 32},
    {'name': 'Jack', 'age': 33}
]

# to perform function on all items
list(map(get_name, people))

['Krish', 'Jack']