Variables

In [ ]:
a=100

In [ ]:
# Declaring and asigning variables

age=26
height=5.4
name= "Apurva"
is_student=False

#Printing variables
print("age : " ,age)
print("height : ", height)
print("name : ", name)

age :  26
height :  5.4
name :  Apurva

In [ ]:
# Naming convention
# Variable names should be descriptive
# They must always start with a letter OR _ and can contain letter, numbers or underscores
# Variable names are case sensitive

# Valid variable names
first_name="Apurva"
_last_name="Bidikar"

In [ ]:
# Invalid variable names
#2age = 37
#first-name = "Appu"
#@name="Appu"

In [ ]:
#Case sensitivity
name = "Appu"
Name = "Bidikar"
Name == name

In [ ]:
#Understanding variable types
age=26 #Int
height=5.6 #Float
name="Appu" #str
is_student= True #boolean

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#type checking and conversion
type(height)

In [ ]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [ ]:
age='25'
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [ ]:
Name ="Krish"
print(Name)
int(Name)

Krish
Traceback (most recent call last):
  File "c:\Users\apurv\.vscode\extensions\ms-python.python-2025.2.0-win32-x64\python_files\python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 3, in <module>
ValueError: invalid literal for int() with base 10: 'Krish'

In [ ]:
height = 5.11
print(type(height))

In [ ]:
#int(height)
float(int(height))

5.0

In [3]:
age=input("Whats your age")
print(age, type(age))

30 <class 'str'>

In [2]:
age=int(input("Whats your age"))
print(age, type(age))

10 <class 'int'>

In [11]:
#Basic calculator
num1= float(input("Enter first number: "))
num2= float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("The sum is =", sum)
print("The difference is =", difference)
print("The product is =", product)
print("The quotient is =", quotient)

The sum is = 110.0
The difference is = 90.0
The product is = 1000.0
The quotient is = 10.0