## TUPLE

In [1]:
#CREATING TUPLES
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [6]:
lst= list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [8]:
#Lists and tuples are inter-convertible
numbers= tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [11]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [13]:
mixed_tuple = (100, "Hello World", 3.14, True)
print(mixed_tuple)

(100, 'Hello World', 3.14, True)

In [16]:
#Accessing tuple elements
print(numbers)
print(numbers[2])

(1, 2, 3, 4, 5)
3

In [17]:
numbers[0:4]

(1, 2, 3, 4)

In [18]:
numbers[::1]

(1, 2, 3, 4, 5)

In [19]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [23]:
#Tuple Operations
Concatenation_tuple= numbers + mixed_tuple
Concatenation_tuple

(1, 2, 3, 4, 5, 100, 'Hello World', 3.14, True)

In [24]:
mixed_tuple*3

(100,
 'Hello World',
 3.14,
 True,
 100,
 'Hello World',
 3.14,
 True,
 100,
 'Hello World',
 3.14,
 True)

In [25]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [27]:
#Immutable nature of tuples
#lists are mutable
lst = [1,2,3,4,5]
print(lst)
lst[1]="Appu"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Appu', 3, 4, 5]

In [ ]:
# Tuples are immutable
numbers

(1, 2, 3, 4, 5)

In [29]:
numbers[2]="Appu"
print(numbers)

TypeError: 'tuple' object does not support item assignment

In [33]:
print(numbers)
print(numbers.count(1))
print(numbers.index(2))

(1, 2, 3, 4, 5)
1
1

In [36]:
#Packing and unpacking tuples

Packed_tuple= 1,"Hi", 4.5   
print(Packed_tuple)

(1, 'Hi', 4.5)

In [38]:
numbers = (1,2,3,4,5,6)
first, * middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
#Nested Lists

#Nested tuples