## SETS

In [1]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
empty_set=set()
print(type(empty_set))

<class 'set'>

In [5]:
my_set=set([1,2,3,4,5])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
my_set2=set([1,2,3,4,5,6,6,7])
print(my_set2)
print(type(my_set2))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [12]:
#Basic set operations
#Adding and removing elements
myset={1,2,3,4,6}
myset.add(5)
print(myset)
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [13]:
myset.remove(6)
print(myset)

{1, 2, 3, 4, 5}

In [14]:
myset.remove(10)

KeyError: 10

In [16]:
myset.discard(10)
# No error

In [17]:
#pop method
removed_element=myset.pop()
print(removed_element)
print(myset)

1
{2, 3, 4, 5}

In [20]:
# clear all elements
myset.clear()
print(myset)

set()

In [21]:
#Set membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [30]:
#mathematical operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#Union
union_set= set1.union(set2)
print(union_set)

#intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [31]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
#Difference
print(set1.difference(set2))

{1, 2, 3}

In [32]:
set1

{1, 2, 3, 4, 5, 6}

In [35]:
set2.difference(set1)

{7, 8, 9}

In [36]:
#symmetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [37]:
set2.difference(set1)

{7, 8, 9}

In [41]:
set_1= {1,2,3,4,5}
set_2= {3,4,5}

print(set_1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [42]:
list_=[1,2,3,4,5]
set(list_)

{1, 2, 3, 4, 5}

In [ ]:
text = "Tn this tutorial we are dicussing about sets"
words = text.split()

#convert list of words to get unique words