### PANDAS

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\apurv\onedrive\desktop\da\python\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\apurv\onedrive\desktop\da\python\venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\apurv\onedrive\desktop\da\python\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\apurv\onedrive\desktop\da\python\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\apurv\onedrive\desktop\da\python\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\apurv\onedrive\desktop\da\python\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [2]:
## Series
# 1-D array like object that can hold any data type, it is similar to a column in a table
import pandas as pd

data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# Create a series from dictionary
data = {'a':1, 'b':2, 'c':3}
series_dict= pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [6]:
data = [10,20,30]
index = ['a', 'b', 'c']
pd.Series(data, index=index)

a    10
b    20
c    30
dtype: int64

In [22]:
#Dataframe
# Create a dataframe from a dictionary of list
data={
    'Name': ['Apurva', 'Sourabh', 'Krish'],
    'Age': [25, 35,45],
    'City': ['Goa', 'Pune','Banglore']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age      City
0   Apurva   25       Goa
1  Sourabh   35      Pune
2    Krish   45  Banglore
<class 'pandas.core.frame.DataFrame'>

In [10]:
import numpy as np
np.array(df)

array([['Apurva', 25, 'Goa'],
       ['Sourabh', 35, 'Pune'],
       ['Krish', 45, 'Banglore']], dtype=object)

In [14]:
# Create a Data Frame from a list of dictionaries

data = [
    {'Name': 'Apurva','Age': 25, 'City': 'Goa'},
    {'Name': 'Souru','Age': 10, 'City': 'Mumbai'},
    {'Name': 'John','Age': 39, 'City': 'Pune'},
    {'Name': 'Jack','Age': 20, 'City': 'Banglore'},
]

df = pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age      City
0  Apurva   25       Goa
1   Souru   10    Mumbai
2    John   39      Pune
3    Jack   20  Banglore
<class 'pandas.core.frame.DataFrame'>

In [16]:
df=pd.read_csv('data.csv')
df.head(5)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [23]:
# Accessing data rom dataframe
df

      Name  Age      City
0   Apurva   25       Goa
1  Sourabh   35      Pune
2    Krish   45  Banglore

In [24]:
df['Name']

0     Apurva
1    Sourabh
2      Krish
Name: Name, dtype: object

In [26]:
type(df['Name'])

pandas.core.series.Series

In [27]:
df.loc[0]

Name    Apurva
Age         25
City       Goa
Name: 0, dtype: object

In [28]:
df.iloc[0]

Name    Apurva
Age         25
City       Goa
Name: 0, dtype: object

In [29]:
df.loc[0][0]

C:\Users\apurv\AppData\Local\Temp\ipykernel_9040\2527876973.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][0]

'Apurva'

In [31]:
df.loc[1][0]

C:\Users\apurv\AppData\Local\Temp\ipykernel_9040\2044023174.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[1][0]

'Sourabh'